@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --stroke-color: #1e1b1b;
    scroll-behavior:smooth;
    animation: slideIn .85s ease-in-out;
     
    
}

.dark {
    --stroke-color: #ffffff;

}

@keyframes slideIn {
    0% {
        transform: translateY(75%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.my-slide {
  animation: slideIn 1s ease-out forwards;
  background: inherit;
}
.slide{
    animation: slideIn 1s ease-out forwards;
}